.footer {
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px;
}

@media screen and (max-width: 770px) {
    .footer {
        width: calc(100% - 48px);
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        width: 186px;
        align-self: flex-start;
        padding: 64px 0 24px 16px;
    }
}